.field {
    width: 300px;
    padding: 5px;
}

.register-button, .login-button, .update-button {
    float: right;
}

.register-form, .login-form, .update-form {
    width: 350px;
}

.menu-container {
    padding-top: 5px;
    padding-left: 5px;
}