<!doctype html>

<html lang="en">
<head>
    <script src="static/bower_components/jquery/dist/jquery.js"></script>
    <script src="static/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="static/js/util.js"></script>
    <link rel="stylesheet" href="static/bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="static/css/main.css" />
    <title>{{.App.Name}}</title>
</head>
<body>
    <div class="menu-container">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="/edit">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>&nbsp;Edit Profile
                </a></li>
                <li><a href="/logout">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbsp;Logout
                </a></li>
            </ul>
        </div>
    </div>
    
    <h1>{{.App.Name}}</h1>
    <p>Welcome, {{.User.FullName}}!</p>
</body>
<footer>
    v{{.App.Version}}
</footer>
</html>
